@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;600;700&display=swap');

:root {
	--color-background: #3D3C3C;
  --color-container: #F3F3F1;

  --color-text-base: #FFFFFF;

  --color-button: #666666;
  --color-disabled-button: #444444;
  --color-selected-button: #EC904C;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html, body, #root {
	height: 100vh;
}

body {
	background: var(--color-background);
}

#root {
	display: flex;
	align-items: center;
	justify-content: center;
}

body,
input,
button,
textarea {
  font-family: Lato, sans-serif;
}

main {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  width: 100%;
  height: 15%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.options-and-canvas {
  width: 90%;
  height: 85%;

  display: flex;
  flex-direction: column;
}

.left-options {
  height: 25%;
  width: 100%;

  display: flex;
  flex-direction: row;
  order: 2;

  overflow-x: scroll;
}

.right-options {
  height: 25%;
  width: 100%;

  display: flex;
  flex-direction: row;
  order: 3;

  overflow-x: scroll;
}

.container {
  height: 75%;
  width: 100%;

  border-radius: 10px;
  background-color: var(--color-container);

  order: 1;

  padding: 10px;
}

#canvas-container {
  height: 100%;
  width: 100%;
}

#canvas {
  cursor: not-allowed;
}

footer {
  height: 10%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 2rem;
}

h1 {
  color: var(--color-text-base);
  font-size: 2rem;
  font-weight: 500;
}

p {
  color: var(--color-text-base);
  font-size: 0.8rem;
  font-weight: 300;
}

a, a:hover, a:focus, a:active {
  color: inherit;
}

.button-container {
  min-width: 5rem;
  margin-bottom: 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-description {
  padding-top: 5px;
}

button {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: none;

  cursor: pointer;
  background-color: var(--color-button);
  color: var(--color-text-base);
}

button:hover {
  background-color: var(--color-selected-button);
}

#first-button button,
#done-adding-points button {
  background-color: var(--color-selected-button);
}

#first-button button:disabled {
  background-color: var(--color-disabled-button);
  cursor: not-allowed;
}

.button-onclick {
  position: relative;
}

.i-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

label {
  color: var(--color-text-base);
}

input {
  width: 3rem;
}

@media (min-width: 700px) {
  header {
    height: 20%;
  }

  .options-and-canvas {
    width: 80%;
    height: 80%;

    flex-direction: row;
  }
  
  .left-options {
    height: 100%;
    width: 8rem;
    margin-left: -4rem;

    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    order: 1;

    overflow-x: hidden;
  }

  .right-options {
    height: 100%;
    width: 8rem;
    margin-right: -4rem;

    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    order: 3;

    overflow-x: hidden;
  }
  
  .container {
    height: 100%;
    width: calc(100% - 8rem);

    order: 2;
  }
  
  h1 {
    font-size: 3rem;
  }
}